body{
    background-color: azure;
}
.h2{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 30px;
}
.list{margin-top: 10px;
margin-bottom: 10px;}
.ul{
    margin-left: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.input{
    width: 300px;
}
.button{
    background-color: rgb(114, 114, 215);
    cursor: pointer;
}
.button:hover{
    background-color: blue;
}
.item-list{
    display: flex;
    gap: 10px;
    align-items: center;
}